.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    color: black;
    margin-top: 10vh;
}

/* Loading div */

.loading-div {
    margin-top: 40vh;
}